<div fxFlex.xs="100" fxFlex="350px" style="color:white;">
  <p style=" font-style: normal; font-size: 24px;padding-inline-start:5px;">
  </p>
  <div fxLayout="column wrap" style="padding:5px;" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let items of page?.list" fxFlex.xs="100" style="background-color: rgba(0, 0, 255, 0.2);border-radius:5px;padding:5px;margin-bottom:2px">
      <div>
        <p>
          {{items?.dt_txt}}
        </p>
      </div><img [src]="&apos;https://weather.learnt.tech/icons/&apos;+ items?.weather?.[0]?.icon +&apos;.png&apos;" style="width:50px;">
      <p>
        {{items?.main?.temp}}&#xB0;C
      </p>
    </div>
  </div>
</div>