<div fxLayout="row wrap" style="overflow: hidden; border-radius: 1.2rem;height:300px;  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); margin:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50" style="background: rgba(255, 255, 255, 0.2);backdrop-filter: blur(10px);padding: 20px;border:10px;">
    <div style="position: absolute;top: 0;left: 0;padding:20px;">

      {{page?.placedata?.name}}
      <div>
        Sat 10 Feb</div>
    </div>
    <div style="position: absolute;bottom: 0;right: 0; font-size:2.2rem;padding:20px; ">
      {{page?.placedata?.main.temp}}&#xB0;C<div style="font-size:1.2rem;">
        {{page?.placedata?.weather[0]?.description || &quot;N/A&quot;}}
      </div>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50" style="background: rgba(255, 255, 255, 0.3);backdrop-filter: blur(10px);display:flex;justify-content:center;align-item:center;padding-top:20px;">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxLayoutAlign="none none" [fxShow]="true">
      <div fxLayout="row wrap" style="height:50%;display:flex;justify-content:center;align-item:center;text-align: center;padding-top:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxFlex="33">
          <div>
            {{page?.placedata?.main.feels_like}}&#xB0;C
          </div>Feels
        </div>
        <div fxFlex="33">
          <div>
            {{page?.placedata?.wind.speed}} m/s
          </div>wind
        </div>
        <div fxFlex="33">
          <div>
            {{page.sunrise}}
          </div>Sunrice
        </div>
      </div>
      <div fxLayout="row wrap" style="height:50%;display:flex;justify-content:center;align-item:center;text-align: center;padding-top:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxFlex="33">
          <div>
            {{page?.placedata?.main.humidity}}%
          </div>Humidity
        </div>
        <div fxFlex="33">
          <div>
            {{page?.placedata?.main?.pressure}}<small> hPa</small>
          </div>Pressure
        </div>
        <div fxFlex="33">
          <div>
            {{page.sunset}}
          </div>Sunset
        </div>
      </div>
    </div>
  </div>
</div>